<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @gife.user_id %>
</p>

<p>
  <strong>About:</strong>
  <%= @gife.about %>
</p>

<%= link_to 'Edit', edit_gife_path(@gife) %> |
<%= link_to 'Back', gives_path %>
