<%- model_class = Want -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:about) %></th>
    </tr>
  </thead>
  <tbody>
    <% @wants.each do |want| %>
      <tr>
        <td><%= want.user.name %></td>
        <td><%= want.title %></td>
        <td><%= want.about %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_want_path,
            :class => 'btn btn-primary' %>
