<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @want.user_id %>
</p>

<p>
  <strong>About:</strong>
  <%= @want.about %>
</p>

<%= link_to 'Edit', edit_want_path(@want) %> |
<%= link_to 'Back', wants_path %>
