<%- model_class = Give -%>
<div class="page-header">
  <h1><%=t '.title', :default => "教わってみよう！" %></h1>
</div>
<div>
  <% @gives.each do |give| %>
      <div style="background: whitesmoke; margin-top: 10px">
        <div style="display: inline-block">
          <p style="font-size: large">
            <span class="text-primary">募集中</span><br>
            参加者@1
          </p>
        </div>
        <div style="display: inline-block; width: 80%">
          <h2 class="text-primary"><%= give.title %></h2>
          <%= give.about %><br>
          <hr>
          <button class="btn btn-sm btn-primary">参加</button>
          <button class="btn btn-sm btn-primary">興味あり</button>
          <span style="margin-left: 50px"><%= give.user.name %></span>　<%= give.created_at %>
        </div>
      </div>
  <% end %>
</div>
<div style="margin-top: 50px">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_gife_path,
              :class => 'btn btn-primary' %>
</div>
